{%  extends 'base.html' %}

{% block title %}
	Seja bem vindo!
{% endblock %}

{% block main %}

	<div class="row">
		
		<div class="col">
		</div>
		
		<div class="col-6">
			<h1>Seja bem-vindo!</h1>
		</div>
		
		<div class="col-sm">
			{% if user.is_authenticated %}
				<p>Olá, {{ user.username }}.</p>
				<p>Fazer <a href="{% url 'logout' %}">logout</a>.</p>
			{% else %}
				<p><a href="{% url 'login' %}" class="btn btn-info">Entrar</a></p>
			{% endif %}
		</div>
	
	</div>

{% endblock %}

{% block footer %}
	
	<footer class="footer">
		<div class="container">
			<span class="text-muted">Programação para Web (INF1407) - PUC-Rio</span>
		</div>
	</footer>
	
{% endblock %}